@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-main: #0e40f4;
  --font-main: "Urbanist", sans-serif;
  --font-second: "Inter", sans-serif;
}
.active {
  color: #0e40f4;
  font-weight: 600;
}

.pending {
  opacity: 0.6;
}